*.h5 filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
eurosat_deeplearning/models/ViT32_best_model.pth filter=lfs diff=lfs merge=lfs -text
eurosat_deeplearning/models/ViT32-Pretrained_best_model.pth filter=lfs diff=lfs merge=lfs -text
